<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Welcome to Kazzla - Sign In, Sign Up or Learn More</title>
  <link href="/img/logo.png" rel="shortcut icon"/>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="//code.jquery.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<!--
  <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="/css/kazzla.css" rel="stylesheet"/>
  <script type="text/javascript" src="/css/bootstrap/js/bootstrap.min.js"></script>
  -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "/layouts/header" %>

<div class="container">

	<% unless @messages.nil? || @messages.empty? %>
		<ul>
		<% @messages.each{ |msg| %>
			<li class="text-info"><%= h msg %></li>
		<% } %>
		</ul>
	<% end %>

	<%= yield %>
</div>

<footer>
	<ul>
		<li>About</li>
		<li class="muted">·</li>
		<li>Help</li>
		<li class="muted">·</li>
		<li>Blog</li>
		<li class="muted">·</li>
		<li>Status</li>
		<li class="muted">·</li>
		<li>Jobs</li>
		<li class="muted">·</li>
		<li>Terms</li>
		<li class="muted">·</li>
		<li>Privacy</li>
		<li class="muted">·</li>
		<li>Advertisers</li>
		<li class="muted">·</li>
		<li>Businesses</li>
		<li class="muted">·</li>
		<li>Media</li>
		<li class="muted">·</li>
		<li>Developers</li>
		<li class="muted">·</li>
		<li>Resources</li>
		<li class="muted">·</li>
		<li>Directory</li>
		<li class="muted">·</li>
		<li>&copy; <%= Date.today.year %> Kazzla</li>
	</ul>
</footer>

</body>
</html>
