<div class="list-group">
	<a href="<%= url_for :controller => :settings, :action => :account %>" class="list-group-item <%= params[:action] == 'account'? 'active': '' %>">
		<i class="glyphicon glyphicon-user"></i>
		Account
	</a>
	<a href="<%= url_for :controller => :settings, :action => :security %>" class="list-group-item <%= params[:action] == 'security'? 'active': '' %>">
		<i class="glyphicon glyphicon-lock"></i>
		Security and Privacy
	</a>
	<a href="<%= url_for :controller => :settings, :action => :password %>" class="list-group-item <%= params[:action] == 'password'? 'active': '' %>">
		Password
	</a>
	<a href="<%= url_for :controller => :settings, :action => :devices %>" class="list-group-item <%= params[:action] == 'devices'? 'active': '' %>">
		Devices
	</a>
	<a href="<%= url_for :controller => :settings, :action => :profile %>" class="list-group-item <%= params[:action] == 'profile'? 'active': '' %>">
		Profile
	</a>
	<a href="<%= url_for :controller => :settings, :action => :applications %>" class="list-group-item <%= params[:action] == 'applications'? 'active': '' %> disabled">
		<i class="glyphicon glyphicon-th-large"></i>
		Application
	</a>
</div>