<div class="list-group">
	<a href="<%= url_for :controller => :settings, :action => :account %>" class="list-group-item <%= params[:action] == 'account'? 'active': '' %>">
		<i class="icon-user"></i> Account<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :security %>" class="list-group-item <%= params[:action] == 'security'? 'active': '' %>">
		<i class="icon-lock"></i> Security and Privacy<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :password %>" class="list-group-item <%= params[:action] == 'password'? 'active': '' %>">
		Password<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :devices %>" class="list-group-item <%= params[:action] == 'devices'? 'active': '' %>">
		Devices<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :notifications %>" class="list-group-item <%= params[:action] == 'notifications'? 'active': '' %>">
		Notification<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :profile %>" class="list-group-item <%= params[:action] == 'profile'? 'active': '' %>">
		Profile<i class="icon-chevron-right"></i>
	</a>
	<a href="<%= url_for :controller => :settings, :action => :applications %>" class="list-group-item <%= params[:action] == 'notification'? 'active': '' %>">
		<i class="icon-th"></i> Application<i class="icon-chevron-right"></i>
	</a>
</div>