<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'menu' %>
	</div>
	<div class="col-md-9">
		<%= form_for @account, :as => :account, :url => { :action => :account }, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
			<fieldset>
				<legend>Account</legend>
				<div class="form-group">
					<div class="col-sm-2">
						<%= f.label :name, 'User Name', :class => 'control-label' %>
					</div>
					<div class="col-sm-10">
						<p class="form-control-static"><b><%= h @account.name %></b></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<%= f.label :language, 'Language', :class => 'control-label' %>
					</div>
					<div class="col-sm-5">
						<%= f.select(:language, language_options_for_select(user_language, @account.language), {}, { :class => 'form-control' }) %>
						<!-- <%= h @account.language %> -->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label class="control-label" for="timezone">TimeZone</label>
					</div>
					<div class="col-sm-5">
						<%= f.select(:timezone, timezone_options_for_select(user_language, @account.timezone), {}, { :class => 'form-control' }) %>
						<!-- <%= h @account.timezone %> -->
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<%= f.label(:contacts, 'Contact', :class => 'control-label') %>
					</div>
					<div class="col-sm-10">
						<% @account.contacts.sort_by { |c| c.uri }.each_with_index do |contact, i| %>
							<div class="row form-group" id="contact_<%= i %>">
								<%= hidden_field_tag("contacts[#{i}][id]", contact.id) %>
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="pull-right">
											<button type="button" class="close delete-contact" data-id="<%= i %>"><span aria-hidden="true">&times;</span><span class="sr-only">Delete</span></button>
										</div>
										<div class="form-control-static">
											<% if contact.schema == 'mailto' %>
												<i class="glyphicon glyphicon-envelope"></i>
											<% elsif contact.schema == 'tel' %>
												<i class="glyphicon glyphicon-phone"></i>
											<% end %><%= contact.uri %>
											<%= hidden_field_tag("contacts[#{i}][schema]", contact.schema) %>
											<%= hidden_field_tag("contacts[#{i}][uri]", contact.uri) %>
										</div>
										<div>
											<% if contact.confirmed_at.nil? %>
												<small class="text-warning">
													<i>
														<i class="glyphicon glyphicon-lock"></i> not verified yet.
														<%= link_to('<i class="glyphicon glyphicon-send"></i> Verify'.html_safe, { :controller=>:settings, :action=>:confirm_contact, :id=>contact.id }, { :method => :post }) %>
													</i>
												</small>
											<% else %>
												<small class="text-success">
													<i title="<%= contact.confirmed_at %>">
														<i class="glyphicon glyphicon-ok"></i> verified to <%= h elapsed_time(contact.confirmed_at) %>.
														<%= link_to('<i class="glyphicon glyphicon-send"></i> Verify'.html_safe, { :controller=>:settings, :action=>:confirm_contact, :id=>contact.id }, { :method => :post }) %>
													</i>
												</small>
											<% end %>
										</div>
										<div>
											<small>
												<%= check_box_tag("contacts[#{i}][notify]", true, contact.notify) %> send notification to this email address.
											</small>
										</div>
									</div>
								</div>
							</div>
						<% end %>
						<div class="row form-group">
							<div class="col-sm-2">
								<%= contact_select_tag("new_contact[schema]", 'mailto', { :class => 'form-control'}) %>
							</div>
							<div class="col-sm-5">
								<%= text_field_tag("new_contact[uri]", '', { :placeholder => 'Additional EMail or Telephone', :class => 'form-control'}) %>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-2">
						<%= f.submit 'Update', :class => 'btn btn-default' %>
					</div>
					<div class="col-sm-offset-2 col-sm-2">
						<small><%= link_to('+ withdraw', { :controller => :auth, :action => :withdraw }) %></small>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>
