<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'menu' %>
	</div>
	<div class="col-md-9">
		<%= form_for @password, :as => :password, :url => { :action => :password }, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
			<fieldset>
				<legend>Change Password</legend>
				<div class="form-group">
					<div class="col-sm-2">
						<label for="current_password">Current</label>
					</div>
					<div class="col-sm-6">
						<%= f.text_field(:old_password, { :placeholder => 'Password', :class => 'form-control' }) %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label for="new_password1">New</label>
					</div>
					<div class="col-sm-6">
						<%= f.text_field(:new_password1, { :placeholder => 'Password', :class => 'form-control' }) %>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2">
						<label for="new_password2">New (Confirm)</label>
					</div>
					<div class="col-sm-6">
						<%= f.text_field(:new_password2, { :placeholder => 'Password', :class => 'form-control' }) %>
					</div>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</fieldset>
		<% end %>
	</div>
</div>
