<div class="row">
	<div class="col-md-3">
		<%= render :partial => 'menu' %>
	</div>
	<div class="col-md-9">
		<%= form_tag({ :action => :password }, { :role => :form }) do %>
			<div class="form-group">
				<label for="current_password">Current Password</label>
				<%= text_field_tag :current_password, '', { :placeholder => 'Password', :class => 'form-control' } %>
			</div>
			<div class="form-group">
				<label for="new_password1">New Password</label>
				<%= text_field_tag :new_password1, '', { :placeholder => 'Password', :class => 'form-control' } %>
			</div>
			<div class="form-group">
				<label for="new_password2">New Password (Confirm)</label>
				<%= text_field_tag :new_password2, '', { :placeholder => 'Password', :class => 'form-control' } %>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		<% end %>
	</div>
</div>
