<div class="jumbotron">
  <h1>Kazzla</h1>
  <p>
  Personal plug-in cloud platform to use your diskspace anytime, anywhere.
  (ShareThis here)
  </p>
</div>

<div class="row">
  <div class="col-md-7">
    <h2>Welcome Kazzla</h2>
    <p>It's free and always will be.</p>
  </div>

	<div class="col-md-5">
		<div class="row">
			<div class="col-md-6">
				<%= form_for @signin, :url => { :controller => :auth, :action => :signin }, :html => { :method => :post, :role => :form } do |f| %>
					<fieldset>
						<legend>Sign in</legend>
						<div class="form-group">
							<%= f.label(:account, 'ID', { :class => 'sr-only' }) %>
							<%= f.text_field(:account, { :placeholder => 'User Name or Email', :class => 'form-control' }) %>
						</div>
						<div class="form-group">
							<%= f.label(:password, 'Password', { :class => 'sr-only' }) %>
							<%= f.password_field(:password, { :placeholder => 'Password', :class => 'form-control' }) %>
						</div>
						<div>
							<%= f.submit('Sign in', { :class => 'btn btn-primary' }) %>
						</div>
						<p>
							If you forget your password, you can
							<%= link_to('reset it', { :controller => :auth, :action => :reset_password }) %> by one of
							registered mail addresses.
						</p>
					</fieldset>
				<% end %>
			</div>
			<div class="col-md-6">
				<%= form_for @signup, :url => { :controller => :auth, :action => :signup }, :html => { :method => :post, :role => :form } do |f| %>
					<fieldset>
						<legend>Sign up</legend>
						<p>
							Let's <%= link_to('sign-up', { :controller => :auth, :action => :signup }) %> if you don't
							have any kazzla account.
						</p>
						<div class="form-group">
							<%= f.label('ID', { :class => "sr-only" }) %>
							<%= f.text_field(:name, { :placeholder => 'User Name', :class => 'form-control'}) %>
						</div>
						<div class="form-group">
							<%= f.label('EMail', { :class => "sr-only" }) %>
							<%= f.text_field(:email, { :placeholder => 'Email', :class => 'form-control' }) %>
						</div>
						<div class="form-group">
							<%= f.label('Password', {:class => "sr-only" }) %>
							<%= f.password_field(:password, { :placeholder => 'Password', :class => 'form-control' }) %>
						</div>
						<div>
							<%= f.submit('Sign up', { :class => 'btn btn-default' }) %>
						</div>
					</fieldset>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>or sign in with Social</p>
				<div class="form-action">
					<button class="btn disabled">Facebook</button>
					<button class="btn disabled">Twitter</button>
					<button class="btn disabled">Google+</button>
				</div>
			</div>
		</div>
  </div>

</div>

<div class="row">
	<div class="col-md-12">
		<script type="text/javascript">var switchTo5x=true;</script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "d66e8f87-2284-46d7-a0d8-4cb73c04e838", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		<span class='st_facebook' displayText='Facebook'></span>
		<span class='st_twitter' displayText='Tweet'></span>
		<span class='st_tumblr' displayText='Tumblr'></span>
		<span class='st_googleplus' displayText='Google +'></span>
		<span class='st_hatena' displayText='Hatena'></span>
		<span class='st_blogger' displayText='Blogger'></span>
		<span class='st_linkedin' displayText='LinkedIn'></span>
		<span class='st_sharethis' displayText='ShareThis'></span>
		<span class='st_pinterest' displayText='Pinterest'></span>
		<span class='st_email' displayText='Email'></span>
	</div>
</div>
