<div class="row">
  <div class="col-md-4">
    <%= form_tag("/auth/signup", :method => :post) do %>
      <fieldset>
        <legend>Sign up</legend>
				<div class="form-group">
					<label class="sr-only" for="id">Account</label>
					<%= text_field_tag :id, params[:id], :placeholder => 'ID', :class => 'form-control' %>
				</div>
				<div class="form-group">
					<label class="sr-only" for="account">EMail</label>
					<%= email_field_tag :account, params[:account], :placeholder => 'Mail Address', :class => 'form-control' %>
				</div>
				<div class="form-group">
					<label class="sr-only" for="password">Password</label>
	        <%= password_field_tag :password, '', :placeholder => 'Password', :class => 'form-control' %>
				</div>
				<div class="form-group">
					<label class="sr-only" for="language">Language</label>
					<%= select_tag "language", language_options_for_select(user_language), { :class => 'form-control' } %>
				</div>
				<div class="form-group">
					<label class="sr-only" for="timezone">TimeZone</label>
					<%= select_tag "timezone", timezone_options_for_select(user_language), { :class => 'form-control' } %>
				</div>
				<div class="form-group">
	        <label class="checkbox" for="confirm">
						<%= check_box_tag(:confirm) %>
	          I read and accept your term of use.
  	      </label>
				</div>
        <div>
          <%= submit_tag("Sign up", :class => "btn btn-primary") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
