<div class="row">
  <div class="span4">
    <%= form_tag("/auth/signup", :method => :post) do %>
      <fieldset>
        <legend>Sign up</legend>
        <%= text_field_tag(:account, params[:account], :placeholder => :email) %>
        <%= password_field_tag(:password, "", :placeholder => :password) %>
				<%= select_tag("language", language_options_for_select(user_language), { }) %>
				<%= select_tag("timezone", timezone_options_for_select(user_language), { }) %>
        <label class="checkbox">
          <%= check_box_tag(:confirm) %>
          I read and accept your term of use.
        </label>
        <div>
          <%= submit_tag("Sign up", :class => "btn btn-primary") %>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
